<% unless @notes.empty? %>

  <div class="notes">
  <% @notes.each do |note| %>
    <div class="card" href="<%= edit_note_path(note) %>">
      <header class="card-header">
        <p class="card-header-title">
          <%= note.title %>
        </p>

        <%= link_to '🗑', note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-header-icon' %>
      </header>
      <div class="card-content">
        <div class="content">
          <%= note.content %>
        </div>
      </div>
    </div>
  <% end %>
  </div>

<% else %>
  <p>You don't have notes</p>
<% end %>
