<p id="notice"><%= notice %></p>

<% unless @notes.empty? %>

  <div class="notes">
  <% @notes.each do |note| %>
    <div class="card">
      <div class="card-content">
        <p class="title">
          <%= note.title %>
        </p>
        <p class="subtitle">
          <%= note.content %>
        </p>
      </div>
    </div>
  <% end %>
  </div>

<% else %>
  <p>You don't have notes</p>
<% end %>

<%= link_to 'New Note', new_note_path, class: 'button is-primary' %>
