<p id="notice"><%= notice %></p>

<% unless @tags.empty? %>
  <ul>
    <% @tags.each do |tag| %>
      <li><%= tag.name %></li>
      <li><%= link_to 'Edit', edit_tag_path(tag) %></li>
      <li><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
  </ul>
<% else %>
  <p>You don't have tags</p>
<% end %>